.Rproj.user
.Rhistory
.RData
.Ruserdata
Week 1 Practical Data/*
Week 1 Homework Data/*
Week 2 Practical Data/*
Week 2 Homework Data/*
Week 3 Practical Data/*
Week 3 Homework Data/*
Week 4 Homework Data/*
Week 4 Homework Attempt 2 Data/*
Week 5 Practical Data/*